<%= simple_form_for(lead) do |f| %>
  <%= f.input :name %>
  <%= f.input :email_address %>
  <%= f.input :telephone_number %>
  <%= f.input :linked_in %>
  <%= f.input :github %>
  <div class="d-flex justify-content-between">
    <div>
      <%= f.submit "Register", class: "btn-red mt-4" %>
    </div>
    <div class="">
      <%= link_to 'Back', root_path, class: 'btn-big mt-4' %>
    </div>
  </div>

<% end %>
