<div class="banner">

</div>
<div class="container mb-5">
  <div class="d-flex justify-content-center"></div>
    <div class="table-card">
      <div class="d-flex justify-content-end m-3 p-3">
        <%= form_with url: leads_path, method: :get, class: "d-flex", data: { insert_in_list_target: "form", action: "submit->insert-in-list#send" } do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control mr-2",
            placeholder: "Type a name",
            data: {
              insert_in_list_target: 'searchInput'
            }
          %>
          <%= submit_tag "Search", name: "", class: "btn-red ms-3" %>
        <% end %>
      </div>
      <table class="table bg-white table-striped border rounded">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Tel</th>
            <th scope="col">LinkedIn</th>
            <th scope="col">GitHub</th>
          </tr>
        </thead>
        <tbody>
          <% @leads.sort.each do |lead| %>
            <tr>
              <th scope="row"></th>
              <td class="p-3"><%= lead.name %></td>
              <td class="p-3"><%= lead.email_address %></td>
              <td class="p-3"><%= lead.telephone_number %></td>
              <td class="p-3"><%= link_to(lead.linked_in, lead.linked_in, target: :_blank, class: "table-link") %></td>
              <td class="p-3">
                <% if lead.github? %>
                  <%= link_to(lead.github, lead.github, target: :_blank, class: "table-link") %>
                <% end %>
              </td>
              <td><%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_lead_path(lead), class: "delete-button" %></td>
              <td><%= link_to '<i class="fas fa-trash"></i>'.html_safe, lead_path(lead), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-button m-3" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="m-3 p-3 d-flex justify-content-end">
        <%= link_to 'Add registration', new_lead_path(@lead), class: 'btn-red' %>
      </div>
    </div>
  </div>
</div>
