<div class="container">
  <div class="d-flex  justify-content-center"></div>
    <div class="mt-5">
      <table class="table bg-white table-striped mt-5">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Tel</th>
            <th scope="col">LinkedIn</th>
            <th scope="col">GitHub</th>
          </tr>
        </thead>
        <tbody>
          <% @leads.each do |lead| %>
            <tr>
              <th scope="row"></th>
              <td class="p-3"><%= lead.name %></td>
              <td class="p-3"><%= lead.email_address %></td>
              <td class="p-3"><%= lead.telephone_number %></td>
              <td class="p-3"><%= lead.linked_in %></td>
              <td class="p-3"><%= lead.github %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="m-5 p-5 d-flex justify-content-end">
    <%= link_to 'Add new lead', new_lead_path(@lead), class: 'btn-big' %>
  </div>

</div>
