<div class="banner">

</div>
<div class="container mb-5">
  <div class="d-flex justify-content-center"></div>
    <div class="table-card" data-controller="search-names">
      <div class="d-flex justify-content-end m-3 p-3">
        <%= form_with url: leads_path, method: :get, class: "d-flex", data: { search_names_target: "form" } do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control mr-2",
            placeholder: "Type a name",
            data: {
              search_names_target: 'input',
              action: "keyup->search-names#update"
            }
          %>
          <%= submit_tag "Search", name: "", class: "btn-red ms-3" %>
        <% end %>
      </div>
        <div class="table-responsive">
          <table class="table table-striped border rounded">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Tel</th>
                <th scope="col">LinkedIn</th>
                <th scope="col">GitHub</th>
              </tr>
            </thead>
            <%= render "list", leads: @leads %>
          </table>
        </div>
      <div class="m-3 p-3 d-flex justify-content-end">
        <%= link_to 'Add registration', new_lead_path(@lead), class: 'btn-red' %>
      </div>
    </div>
  </div>
</div>
